{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}

{% block bodyclass %}change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="{% url admin:index %}">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url mailchimp_overview %}">{% trans "mailchimp overview" %}</a> &rsaquo;  
     {{ campaign.mc.subject|truncatewords:18 }}
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
	<div class="module aligned">
		<h2>Campaign Information: {{ campaign.mc.subject }}</h2>
		<div class="form-row">
			Sent Date: <p>{{ campaign.sent_date }}</p>
		</div>
		<div class="form-row">
			Recipients: <p>{{ campaign.recievers.all.count }}</p>
		</div>
		{% if campaign.object %}
		<div class="form-row">
			object: <a href="{{ campaign.get_object_admin_url }}">{{ campaign.object }}</a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}